<div id="details">
    <div class="image clr-electric ?>">
        <img [src]="card.image">
    </div>
    <div class="info">
        <h2 class="name">{{card.name}}</h2>
        <div class="description">{{card.description}}</div>
        <span class="card-type"><span class="icon">🏷</span> Type: {{card.typename}}</span>
        <div class="attributes">
            <div class="card-hp"><span class="icon">❤</span> Health: {{card.hp}}</div>
            <div class="card-attack"><span class="icon">⚔</span> Attack: {{card.attack}}</div>
            <div class="card-defense"><span class="icon">🛡</span> Defense: {{card.defense}}</div>
        </div>
    </div>
</div>